{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title">
            <span class="drac-text-cyan-green">{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}</span>
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title"><span class="drac-text-yellow-pink">{{ .Key }}</span></h3>
                {{- range .Pages -}}
                    <article class="archive-item" onClick="location.href='{{ .RelPermalink }}'" >
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                        <span class="dract-text-white archive-item-date">
                            {{- with .Date -}}
                            {{ $month_names := slice "Jan" "Fev" "Mar" "Abr" "Mai" "Jun" "Jul" "Ago" "Set" "Out" "Nov" "Dez" }}
                            {{ $month := sub .Month 1 }}
                            {{ $mes := index $month_names $month }}
                            {{- printf `<span class="drac-heading-sm drac-text-normal">%v %v, %v</span>` .Day $mes .Year | safeHTML -}}
                            {{- end -}}
                        </span>                            
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
