// ==============================
// Variables
// ==============================

// ========== Global ========== //
// Font and Line Height
$global-font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: #050505 !default;
$global-background-color-dark: #292a2d !default;

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #a9a9b3 !default;

// Color of the secondary text
$global-font-secondary-color: #a9a9b3 !default;
$global-font-secondary-color-dark: #5d5d5f !default;

// Color of the link
$global-link-color: #161209 !default;
$global-link-color-dark: #a9a9b3 !default;

// Color of the hover link
$global-link-hover-color: #2d96bd !default;
$global-link-hover-color-dark: #fff !default;

// Color of the border
$global-border-color: #f0f0f0 !default;
$global-border-color-dark: #363636 !default;
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #87878d !default;

// Color of the hover scrollbar
$scrollbar-hover-color: #a9a9b3 !default;
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(53, 166, 247, 0.25) !default;
$selection-color-dark: rgba(50, 112, 194, 0.4) !default;
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem !default;

// Color of the header background
$header-background-color: #f8f8f8 !default;
$header-background-color-dark: #090A0B !default;

// Font style of the header title
$header-title-font-family: $global-font-family !default;
$header-title-font-size: 1.5rem !default;

// Color of the hover header item
$header-hover-color: #161209 !default;
$header-hover-color-dark: #fff !default;

// Color of the search background
$search-background-color: #e9e9e9 !default;
$search-background-color-dark: #363636 !default;
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem !default;
$toc-content-font-size: 1rem !default;

// Color of the single link
$single-link-color: #2d96bd !default;
$single-link-color-dark: #55bde2 !default;

// Color of the hover single link
$single-link-hover-color: #ef3982 !default;
$single-link-hover-color-dark: #c1eeff !default;

// Color of the table background
$table-background-color: #fff !default;
$table-background-color-dark: #272c34 !default;

// Color of the table thead
$table-thead-color: #ededed !default;
$table-thead-color-dark: #20252b !default;

// Color of the blockquote
$blockquote-color: #6bd6fd !default;
$blockquote-color-dark: #59c5ec !default;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color: #2d96bd !default;
$pagination-link-color-dark: #a9a9b3 !default;

// Color of the hover link in pagination
$pagination-link-hover-color: #000 !default;
$pagination-link-hover-color-dark: #fff !default;
// ========== Pagination ========== //

// ========== Code ========== //
// Color of the code
$code-color: #ff5555 !default;
$code-color-dark: #e2e2e2 !default;

// Color of the code background
$code-background-color: #f5f5f5 !default;
$code-background-color-dark: #282a36 !default;

$code-info-color: #9c9c9c !default;
$code-info-color-dark: #44475a !default;

// Font size of the code
$code-font-size: .875rem !default;

// Font family of the code
$code-font-family: Source Code Pro, Menlo, Consolas, Monaco, monospace, $global-font-family !default;

// Code type map
$code-type-map: (
  // Custom code type
  language-bash: 'Bash',
  language-c: 'C',
  language-cs: 'C#',
  language-cpp: 'C++',
  language-clojure: 'Clojure',
  language-coffeescript: 'CoffeeScript',
  language-css: 'CSS',
  language-dart: 'Dart',
  language-diff: 'Diff',
  language-erlang: 'Erlang',
  language-go: 'Go',
  language-go-html-template: 'Go HTML Template',
  language-groovy: 'Groovy',
  language-haskell: 'Haskell',
  language-html: 'HTML',
  language-http: 'HTTP',
  language-xml: 'XML',
  language-java: 'Java',
  language-js: 'JavaScript',
  language-javascript: 'JavaScript',
  language-json: 'JSON',
  language-kotlin: 'Kotlin',
  language-latex: 'LaTeX',
  language-less: 'Less',
  language-lisp: 'Lisp',
  language-lua: 'Lua',
  language-makefile: 'Makefile',
  language-markdown: 'Markdown',
  language-matlab: 'Matlab',
  language-objectivec: 'Objective-C',
  language-php: 'PHP',
  language-perl: 'Perl',
  language-python: 'Python',
  language-r: 'R',
  language-ruby: 'Ruby',
  language-rust: 'Rust',
  language-scala: 'Scala',
  language-scss: 'Scss',
  language-shell: 'Shell',
  language-sql: 'SQL',
  language-swift: 'Swift',
  language-tex: 'TeX',
  language-toml: 'TOML',
  language-ts: 'TypeScript',
  language-typescript: 'TypeScript',
  language-vue: 'Vue',
  language-yml: 'YAML',
  language-yaml: 'YAML',
) !default;

// Color map of the code highlight
$code-highlight-color-map: (
  /* Parentheses */ 'p': #a9a9b3,
  /* Keyword */ 'k': #ff79c6,
  /* KeywordConstant */ 'kc': #ff79c6,
  /* KeywordDeclaration */ 'kd': #ff79c6,
  /* KeywordNamespace */ 'kn': #ff79c6,
  /* KeywordPseudo */ 'kp': #ff79c6,
  /* KeywordReserved */ 'kr': #ff79c6,
  /* KeywordType */ 'kt': #ff79c6,
  /* Name */ 'n': #333333,
  /* NameAttribute */ 'na': #8be9fd,
  /* NameBuiltin */ 'nb': #f74840,
  /* NameBuiltinPseudo */ 'bp': #f74840,
  /* NameClass */ 'nc': #ffb86c,
  /* NameConstant */ 'no': #8be9fd,
  /* NameDecorator */ 'nd': #5993a0,
  /* NameEntity */ 'ni': #8be9fd,
  /* NameException */ 'ne': #8be9fd,
  /* NameFunction */ 'nf': #8be9fd,
  /* NameFunctionMagic */ 'fm': #1ccad6,
  /* NameLabel */ 'nl': #8be9fd,
  /* NameNamespace */ 'nn': #8be9fd,
  /* NameOther */ 'nx': #333333,
  /* NameProperty */ 'py': #8be9fd,
  /* NameTag */ 'nt': #8be9fd,
  /* NameVariable */ 'nv': #8be9fd,
  /* NameVariableClass */ 'vc': #8be9fd,
  /* NameVariableGlobal */ 'vg': #8be9fd,
  /* NameVariableInstance */ 'vi': #8be9fd,
  /* NameVariableMagic */ 'vm': #8be9fd,
  /* Literal */ 'l': #5993a0,
  /* LiteralDate */ 'ld': #5993a0,
  /* LiteralString */ 's': #50fa7b,
  /* LiteralStringAffix */ 'sa': #50fa7b,
  /* LiteralStringBacktick */ 'sb': #50fa7b,
  /* LiteralStringChar */ 'sc': #50fa7b,
  /* LiteralStringDelimiter */ 'dl': #50fa7b,
  /* LiteralStringDoc */ 'sd': #50fa7b,
  /* LiteralStringDouble */ 's2': #50fa7b,
  /* LiteralStringEscape */ 'se': #50fa7b,
  /* LiteralStringHeredoc */ 'sh': #50fa7b,
  /* LiteralStringInterpol */ 'si': #50fa7b,
  /* LiteralStringOther */ 'sx': #50fa7b,
  /* LiteralStringRegex */ 'sr': #50fa7b,
  /* LiteralStringSingle */ 's1': #50fa7b,
  /* LiteralStringSymbol */ 'ss': #50fa7b,
  /* LiteralNumber */ 'm': #ffb86c,
  /* LiteralNumberBin */ 'mb': #ffb86c,
  /* LiteralNumberFloat */ 'mf': #ffb86c,
  /* LiteralNumberHex */ 'mh': #ffb86c,
  /* LiteralNumberInteger */ 'mi': #ffb86c,
  /* LiteralNumberIntegerLong */ 'il': #ffb86c,
  /* LiteralNumberOct */ 'mo': #ffb86c,
  /* Operator */ 'o': #ffb86c,
  /* OperatorWord */ 'ow': #a73676,
  /* Comment */ 'c': #6272a4,
  /* CommentHashbang */ 'ch': #6272a4,
  /* CommentMultiline */ 'cm': #6272a4,
  /* CommentSingle */ 'c1': #6272a4,
  /* CommentSpecial */ 'cs': #6272a4,
  /* CommentPreproc */ 'cp': #6272a4,
  /* CommentPreprocFile */ 'cpf': #6272a4,
  /* Generic */ 'g': #ff5555,
  /* GenericDeleted */ 'gd': #ff5555,
  /* GenericEmph */ 'ge': #ff5555,
  /* GenericError */ 'gr': #ff5555,
  /* GenericHeading */ 'gh': #ff5555,
  /* GenericInserted */ 'gi': #ff5555,
  /* GenericOutput */ 'go': #ff5555,
  /* GenericPrompt */ 'gp': #ff5555,
  /* GenericStrong */ 'gs': #ff5555,
  /* GenericSubheading */ 'gu': #ff5555,
  /* GenericTraceback */ 'gt': #ff5555,
  /* TextWhitespace */ 'w': #f8f8f2,
) !default;
$code-highlight-color-map-dark: (
  /* Parentheses */ 'p': #a9a9b3,
  /* Keyword */ 'k': #ff79c6,
  /* KeywordConstant */ 'kc': #ff79c6,
  /* KeywordDeclaration */ 'kd': #ff79c6,
  /* KeywordNamespace */ 'kn': #ff79c6,
  /* KeywordPseudo */ 'kp': #ff79c6,
  /* KeywordReserved */ 'kr': #ff79c6,
  /* KeywordType */ 'kt': #ff79c6,
  /* Name */ 'n': #333333,
  /* NameAttribute */ 'na': #8be9fd,
  /* NameBuiltin */ 'nb': #f74840,
  /* NameBuiltinPseudo */ 'bp': #f74840,
  /* NameClass */ 'nc': #ffb86c,
  /* NameConstant */ 'no': #8be9fd,
  /* NameDecorator */ 'nd': #5993a0,
  /* NameEntity */ 'ni': #8be9fd,
  /* NameException */ 'ne': #8be9fd,
  /* NameFunction */ 'nf': #8be9fd,
  /* NameFunctionMagic */ 'fm': #1ccad6,
  /* NameLabel */ 'nl': #8be9fd,
  /* NameNamespace */ 'nn': #8be9fd,
  /* NameOther */ 'nx': #333333,
  /* NameProperty */ 'py': #8be9fd,
  /* NameTag */ 'nt': #8be9fd,
  /* NameVariable */ 'nv': #8be9fd,
  /* NameVariableClass */ 'vc': #8be9fd,
  /* NameVariableGlobal */ 'vg': #8be9fd,
  /* NameVariableInstance */ 'vi': #8be9fd,
  /* NameVariableMagic */ 'vm': #8be9fd,
  /* Literal */ 'l': #5993a0,
  /* LiteralDate */ 'ld': #5993a0,
  /* LiteralString */ 's': #50fa7b,
  /* LiteralStringAffix */ 'sa': #50fa7b,
  /* LiteralStringBacktick */ 'sb': #50fa7b,
  /* LiteralStringChar */ 'sc': #50fa7b,
  /* LiteralStringDelimiter */ 'dl': #50fa7b,
  /* LiteralStringDoc */ 'sd': #50fa7b,
  /* LiteralStringDouble */ 's2': #50fa7b,
  /* LiteralStringEscape */ 'se': #50fa7b,
  /* LiteralStringHeredoc */ 'sh': #50fa7b,
  /* LiteralStringInterpol */ 'si': #50fa7b,
  /* LiteralStringOther */ 'sx': #50fa7b,
  /* LiteralStringRegex */ 'sr': #50fa7b,
  /* LiteralStringSingle */ 's1': #50fa7b,
  /* LiteralStringSymbol */ 'ss': #50fa7b,
  /* LiteralNumber */ 'm': #ffb86c,
  /* LiteralNumberBin */ 'mb': #ffb86c,
  /* LiteralNumberFloat */ 'mf': #ffb86c,
  /* LiteralNumberHex */ 'mh': #ffb86c,
  /* LiteralNumberInteger */ 'mi': #ffb86c,
  /* LiteralNumberIntegerLong */ 'il': #ffb86c,
  /* LiteralNumberOct */ 'mo': #ffb86c,
  /* Operator */ 'o': #ffb86c,
  /* OperatorWord */ 'ow': #a73676,
  /* Comment */ 'c': #6272a4,
  /* CommentHashbang */ 'ch': #6272a4,
  /* CommentMultiline */ 'cm': #6272a4,
  /* CommentSingle */ 'c1': #6272a4,
  /* CommentSpecial */ 'cs': #6272a4,
  /* CommentPreproc */ 'cp': #6272a4,
  /* CommentPreprocFile */ 'cpf': #6272a4,
  /* Generic */ 'g': #ff5555,
  /* GenericDeleted */ 'gd': #ff5555,
  /* GenericEmph */ 'ge': #ff5555,
  /* GenericError */ 'gr': #ff5555,
  /* GenericHeading */ 'gh': #ff5555,
  /* GenericInserted */ 'gi': #ff5555,
  /* GenericOutput */ 'go': #ff5555,
  /* GenericPrompt */ 'gp': #ff5555,
  /* GenericStrong */ 'gs': #ff5555,
  /* GenericSubheading */ 'gu': #ff5555,
  /* GenericTraceback */ 'gt': #ff5555,
  /* TextWhitespace */ 'w': #f8f8f2,
) !default;
// ========== Code ========== //

// ========== Admonition ========== //
// Color map of the admonition
$admonition-color-map: (
  'note': #448aff,
  'abstract': #00b0ff,
  'info': #8be9fd,
  'tip': #8bfde0,
  'success': rgb(0, 151, 63),
  'question': #50fa7b,
  'warning': #ffb86c,
  'failure': #ff5252,
  'danger': #ff5555,
  'bug': #f50057,
  'example': #bd93f9,
  'quote': #9e9e9e,
) !default;

// Color map of the admonition background
$admonition-background-color-map: (
  'note': rgba(68, 138, 255, 0.1),
  'abstract': rgba(0, 176, 255, 0.1),
  'info': rgba(0, 184, 212, 0.1),
  'tip': rgba(0, 191, 165, 0.1),
  'success': rgba(0, 200, 83, 0.1),
  'question': rgba(100, 221, 23, 0.1),
  'warning': rgba(255, 145, 0, 0.1),
  'failure': rgba(255, 82, 82, 0.1),
  'danger': rgba(255, 23, 68, 0.1),
  'bug': rgba(245, 0, 87, 0.1),
  'example': rgba(101, 31, 255, 0.1),
  'quote': rgba(159, 159, 159, 0.1),
) !default;
// ========== Admonition ========== //

$MAX_LENGTH: 12000px;
