.post-footer {
  margin-top: 3rem;
  color: #7f7d7d;

  .post-info {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(
      to left,
      #9580ff 0%,
      #80ffea 13%,
      #8aff80 25%,
      #ffff80 40%,
      #ffca80 65%,
      #ff9580 85%,
      #ff80bf 100%
    );
    border-image-slice: 1;
    padding: 1rem 0 0.3rem;

    .post-info-line {
      display: flex;
      justify-content: space-between;

      .post-info-mod {
        font-size: 0.8em;

        @include link(false, false);
      }

      .post-info-license {
        font-size: 0.8em;

        @include link(false, false);
      }

      .post-info-md {
        font-size: 0.8rem;
        width: 8rem;

        @include link(false, false);
      }

      .post-info-share {
        a * {
          vertical-align: text-bottom;
        }

        a {
          padding: 3px;

          color: #f8f8f2;
          text-decoration: none;
        }
        a:hover {
          padding: 3px;
          @include transition(all 0.3s ease-in-out);

          color: #f8f8f2;
          background-color: #313131;
          border-radius: 5px;
        }
      }
    }
  }

  .post-info-more {
    padding: 15px 0;
    a {
      padding: 5px;
      color: #f8f8f2;
      text-decoration: none;
    }
    a:hover {
      padding: 5px;
      color: #f8f8f2;
      background-color: #313131;
      border-radius: 5px;
      @include transition(all 0.3s ease-in-out);

    }
    // padding: 0.3rem 0 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .post-tags {
    a {
      padding: 5px;

      color: #f8f8f2;
      text-decoration: none;
    }
    a:hover {
      padding: 5px;
      @include transition(all 0.3s ease-in-out);

      color: #f8f8f2;
      background-color: #313131;
      border-radius: 5px;
    }
    max-width: 65%;

    * {
      display: inline;
    }
  }

  .post-nav {
    a {
      text-decoration: none;
      padding: 5px;
    }
    &::before,
    &::after {
      content: " ";
      display: table;
    }

    & a.prev,
    & a.next {
      color: #f8f8f2;
      font-size: 1rem;
      font-weight: 600;
      @include transition(all 0.3s ease-out);
    }

    & a.prev {
      float: left;
      color: #f8f8f2;
    }

    & a.prev:hover {
      @include transition(all 0.3s ease-in-out);

      color: #f8f8f2;
      background-color: #313131;
      border-radius: 5px;
      padding: 5px;

    }

    & a.next {
      float: right;
    }

    & a.next:hover {
      padding: 5px;
      @include transition(all 0.3s ease-in-out);

      color: #f8f8f2;
      background-color: #313131;
      border-radius: 5px;
    }
  }
}
