#fixed-buttons {
  display: none;
  
}

.fixed-button {
  color: #F8F8F2;

  display: none;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: .6rem .6rem;
  @include border-radius(2rem);
  @include transition(color 0.4s ease);

  @include blur;

  &:hover, &:active {
    cursor: pointer;
    color: #2d2d2d;
    @include transition(all 0.3s ease-in-out);
    background-image: linear-gradient(
      to left,
      #9580ff 0%,
      #80ffea 13%,
      #8aff80 25%,
      #ffff80 40%,
      #ffca80 65%,
      #ff9580 85%,
      #ff80bf 100%
    );
    background-size: 100%;

  }

  &:active, &:focus, &:hover {
    outline: none;
  }

  // [theme=dark] & {
  //   color: $global-font-secondary-color-dark;

  //   &:hover, &:active {
  //     color: $global-font-color-dark;
  //   }
  // }
}

#back-to-top {
  display: block;
  bottom: 1.5rem;
}

#view-comments {
  bottom: 4.5rem;
}
