.page {
  position: relative;
  max-width: 800px;
  width: 60%;
  margin: 0 auto;

  [header-desktop] & {
    padding-top: $header-height;
  }

  [header-desktop="normal"] & {
    padding-top: 0;
  }
  .pagina-inicial-titulo {
    h1 {
      line-height: 140%;
      font-weight: 700;
      font-size: 2em;

    }
  }
  @include blur;
}

@import "_single";
@import "_special";
@import "_archive";
@import "_home";
@import "_404";
