.special {
  .single-title, .single-subtitle {
    text-align: left;
    @include transition(all 0.3s ease-in-out);
    font-size: 2em;
    font-weight: 700;
  }

  a:hover {
    @include transition(all 0.3s ease-in-out);
    color: #92ffff80;
  }
}
