.special {
  .single-title, .single-subtitle {
    text-align: left;
    @include transition(all 0.3s ease-in-out);
    font-size: 2em;
    font-weight: 700;
  }

  a:hover {
    @include transition(all 0.3s ease-in-out);
    background-image: linear-gradient(
      to left,
      #9580ff 0%,
      #80ffea 13%,
      #8aff80 25%,
      #ffff80 40%,
      #ffca80 65%,
      #ff9580 85%,
      #ff80bf 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
